

  .cards__items2 {
    margin-bottom: 24px;
  }
  
  .cards__item2 {
    display: flex;
    background-color:#D8D8D8;

    flex: 1;
    margin: 5px 1rem;
    height: 250px;
    border-radius: 10px;
    border:2px solid  #696969;
    box-shadow: 0 6px 20px rgb(0,0,0);
    -webkit-filter: drop-shadow(0 6px 20px rgba(0,0,0, 0.017));
    filter: drop-shadow(0 6px 20px rgba(168,0,0, 0.017));

  }
  .cards__item2:hover {
    border:3px solid  #696969;
  }

  .cards__item__info2 {
    display: flex;
    padding: 20px 30px 30px;
    flex-direction: column;
  }

  .topcard{
    display: flex;
    flex:1;
    border-bottom: 1px solid #696969;
    justify-content: center;

  }
  .bottomcard{
    padding-top: 30px;
    display: flex;
    flex:3;
  }
  .topcard > h3{
    font-size: 22px;
    text-align: center;
    color: #696969;
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    font-weight:normal;
}


  .cards__item__text2 {
    color: #696969;
    font-size: 18px;
    line-height: 24px;
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    font-weight:normal;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__item2 {
      display: flex;

    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item2 {
      margin-bottom: 2rem;

    }
  }