/*OUTER LAYER */
.total{
    display:flex;
    flex-direction: column;
    min-height:90vh;
    background-color: white;
}

/*TOP LAYER */
.EducationUpper{
    flex:3;
    display:flex;
    flex-direction: row;
    background-color: white;
   
}
.EduAvatar{
    display: flex;
    flex:1; 
    align-items: center;
    justify-content: center;
    background-color: #7b0138;
}
/*top right section */
.another{
    flex:2;
    display:flex;
    flex-direction: column;
    margin: 10px 15px;
    margin-bottom:20px;
    margin-right:20px;
   
}
    .another >h1 {
        display: flex;
        font-size: 54px;
        color: #7b0138;
        width:100%;
        font-weight: 900;
    
        
    }



.right1{
    
    flex:1; 
    display:flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 40px;
    padding-right:30px;
    box-shadow: inset -1px 1px 10px rgb(0,0,0);
}

.textEdu {
    display:flex;
    flex:5;
    margin-bottom:0px;
    
}

    .textEdu >p{
       
        font-size:18px;
        margin-right:40px;
        line-height: 30px;
        
        
    }
    .textEdu > p >span{
        color: #7b0138;
        font-weight: 900;
        display: block;
    }
.summary {
    flex:3;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: flex-start;

}
    .summary >ul {
        display: flex;
        flex:1;
        font-size:14px;
    }
    .summary >ul> span{
        color:red;
        font-weight: 1000;
        margin:0px 5px;
        
    }
    .summary >h2 {
        display: flex;
        flex:1;
        color:#7b0138;
        font-size: 26px;
        padding-bottom: 10px;
       
    }
    .summary >h3{
        display: flex;
        flex:1;
        padding-bottom: 10px;
        font-size:24px;
        color:black;
    }
    .date {
        color:red;
        font-size:22px;
        padding-bottom: 15px;
     
        
    }
     .gpa > h6{
            color:black;
            font-size:18px;
            padding-bottom: 10px;
        }





.left1{

    flex:2; 
    display:flex;
    flex-direction:column;
    align-items:center; 
    justify-content: center;
    background-color: #404040;
    
}
.cards1__items{
    margin: 0px 30px;
    display: flex;
    flex-direction: row;
}



.left1 >h4 {
    display:flex;
    flex:1;
    align-items: center;
    font-size: 48px;
    color:#D8D8D8;
    margin-top: 5px;
    text-shadow: 0px 0px 20px BLACK;
}

.left1 >ul {
    flex:8;
    display: flex;
    flex-direction: row; 
}






/*FOR CHANGING SCREEN SIZE */

@media only screen and (min-width: 1120px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards1__items {
      display: flex;

    }
  }
  
  @media only screen and (max-width: 1120px) {
    .MuiAvatar-root{
        margin-top:10px;
    }
    .EducationUpper{
        flex-direction: column;

       
    }
    .textEdu >p{
       
        font-size:14px;
        margin-right:40px;
        margin-top: 10px;
        margin-left: 20px;
        line-height: 30px;  
    }

    .summary {

        margin:20px;
        align-items: center;
        justify-content: center;
    
    }
        .summary >ul {
            font-size:12px;
        }
        .summary >ul> span{
            color:red;
            font-weight: 1000;
            margin:0px 5px;
            
        }
        .summary >h2 {
            display: flex;
            flex:1;
            color:#7b0138;
            font-size: 22px;
            padding-bottom: 10px;
           
        }
        .summary >h3{
            display: flex;
            flex:1;
            padding-bottom: 10px;
            font-size:18px;
            color:black;
            text-align: center;
        }
        .date {
            color:red;
            font-size:14px;
            padding-bottom: 15px;
         
            
        }
         .gpa > h6{
                color:black;
                font-size:18px;
                padding-bottom: 10px;
            }





    .cards__item2 {
      margin-bottom: 2rem;
    }
    .left1 >ul {
        flex:2;
        display: flex;
        flex-direction: column; 
    }
    .left1{
        align-items:center; 
  }
  .another >h1{
    font-size:42px;
    align-items: center;
    justify-content: center;

}
    .gpa>h6{
        font-size:15px;
    }
    .right1{
        padding:0px;
    
        align-items: center;
        justify-content: center;
    }

    .another{
   
        align-items: center;
        justify-content: center;
    }
    .total{
        display:flex;
        flex-direction: column;
        background-color: #D3D3D3;
        min-height:90vh;
    }
    .summary >ul> span{
       display:block;
    }
}


@media only screen and (max-width: 875px) {
    .MuiAvatar-root{
        margin-top:10px;
    }
.textEdu >p{
       
    font-size:12px;
    margin-right:40px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 30px;  
    text-align: center;
}

.summary {
    flex:3;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: flex-start;

}
    .summary >ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:10px;
    }
    .summary >ul> span{
        color:red;
        font-weight: 1000;
        margin:0px 5px;
        max-height: 15px;
        
    }
    .summary >h2 {
        display: flex;
        flex:1;
        color:#7b0138;
        font-size: 18px;
        padding-bottom: 10px;
       
    }
    .summary >h3{
        display: flex;
        flex:1;
        padding-bottom: 10px;
        font-size:16px;
        color:black;
    }
    .date {
        color:red;
        font-size:12px;
        padding-bottom: 15px;
     
        
    }
     .gpa > h6{
            color:black;
            font-size:14px;
            padding-bottom: 10px;
        }
        .another >h1{
            font-size:32px;
            align-items: center;
            justify-content: center;
        
        }

        .left1> h4{
            font-size: 32px;
      }

    }
