.upperLang{
    display:flex;
    flex:2;
    
}
.lowerLang{
    display:flex;
    flex:2;

}
.barr1{
    display:flex;
    flex:1;
    padding:20px;
    align-items: center;
    max-height: 300px;
}
.title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(120,120,120,0.6);
}
.title1 >h1{
    font-size: 2.5em;
    color: #E8E8E8;
    font-family: 'Times New Roman';
    text-shadow: 1px 5px 10px black;
}
.forButtons {
    display:flex;
    background-color: #181818;
    height:10vh;
    align-items:center;
    justify-content: center;
}
.firstBut{
    padding:10px;
    background-color: #282828;
    margin-right:10px;
}
.secondBut{
    padding:10px;
    background-color: #282828;
    margin-left:10px;
}

@media screen and (max-width: 810px) {
    .skillsSection{
        min-height:100vh !important;
        flex-direction: row !important;
    }
    .barr1{
        max-height:20vh;
        padding:0;
    }
    .upperLang{
        flex-direction: column;
        flex: 2;
    }
    .lowerLang{
        flex-direction: column;
        flex: 2;
    }
    .title1 >h1{
        transform: rotate(-90deg) !important;
    }
    .title1{
        flex:1;
    }
}


@media screen and (max-height: 810px) {
    .skillsSection{
        min-height:100vh !important;
        
    }
}