.testimonial{
    min-height:45vh;
}
.title{
    display: flex;
}
.testimonial .slick-arrow.slick-prev,
.testimonial .slick-arrow.slick-next {

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-arrow.slick-next{
    right:-70px;
}
.slick-arrow.slick-prev{
    left: -70px;
}

.testimonial .slick-dots li button:before {
    font-size:15px;
}
.testimonial .slick-dots li {
    top: 15px;
}
.testss >h1 {
    font-size: 2.5em;
}
.testss{
    min-height: 60vh;
}
@media screen and (max-width: 620px){
    .testimonial{
        height:65vh;
    }
    .testss >h1 {
        font-size: 32px;
    }
}
@media screen and (max-width: 420px){
    .testimonial{
        height:75vh;
    }
    .testss >h1 {
        font-size: 22px;
    }
}

@media screen and (max-height: 810px){
    .testimonial{
       min-height:45vh;
       margin-top: 100px !important;
    }
    .testss >h1 {
        font-size: 22px;
    }
}