.totalContainer {
    display: flex;
    flex-direction: column;
    min-height:90vh;
}
.title{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(120,120,120,0.6);
  
    
}
.title >h1{
    font-size: 2.5em;
    color: #E8E8E8;
    font-family: 'Times New Roman';
    text-shadow: 1px 5px 10px black;
}
.First{

    flex:5;
    display:flex;
    flex-direction: row;
    box-shadow:  0 6px 20px rgb(0,0,0,0.7);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));

}

.Second{
    flex:5;
    display:flex;
    flex-direction:row;
    box-shadow: inset 0 6px 20px rgb(0,0,0,0.7);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}
.Third{
    flex:5;
    display:flex;
    flex-direction:row;
    box-shadow: 0 6px 20px rgb(0,0,0,0.7);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}
.Fourth{
    flex:5;
    display:flex;
    flex-direction:row;
    box-shadow: inset 0 6px 20px rgb(0,0,0,0.7);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.imageWrapper{
    display:flex;
    flex:1;
    background-image: url('/public/images/Bombardier-logo.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 


}

.imageWrapper1{
    display:flex;
    flex:1;
    background-image: url('/public/images/MHIRJ1.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 

}

.imageWrapper2{
    display:flex;
    z-index: -1;
    flex:1;
    background-image: url('/public/images/McMaster2.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}
.imageWrapper3{
    display:flex;
    flex:1;
    background-image: url('/public/images/maceng.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}
.contentWrapper1 {
    display:flex;
    flex:3;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.contentWrapper {

    display:flex;
    flex:3;
    justify-content: flex-start;
    flex-direction: column;

}

.titlework {
    display: flex;
    flex:2;
    justify-content: center;
    align-items: flex-end;
    padding-top:10px;
    padding-left:20px;
}
.titlework >h2 {
    font-size: 18px;
    color:rgb(99, 44, 44);
}
.titlework >h2>span {
    font-size: 14px;
    color:rgb(165, 64, 64);
}

.date1 {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    color:red;
}
.bullets {
    display: flex;
    flex:4;
    justify-content: center;
    align-items: center;
    padding:20px;
    padding-top:0px;
    
}
.bullets >ul{
    font-size: 16px;
    text-align: center;
    list-style: none;
}
@media only screen and (max-width: 1075px) {
    .First {
        flex-direction: column;
        margin:5px;
    }
    .Second{
        flex-direction: column-reverse;
        margin:5px;
    }
    .Third{
        flex-direction: column;
        margin:5px;
    }
    .Fourth{
        flex-direction: column-reverse;
        margin:5px;
    }
    .imageWrapper{
        display:flex;
        flex:3;
        background-position: center;
        transform: scale(1.2);
        min-height: 20vh;
    }
    .imageWrapper1{
        display:flex;
        flex:3;
        background-position: center;
        transform: scale(1.2);
        min-height: 20vh;
    }
    .imageWrapper2{
        display:flex;
        flex:3;
        background-position: center;
        transform: scale(1.2);
        min-height: 20vh;
    }
    .imageWrapper3{
        display:flex;
        flex:3;
        background-position: center;
        transform: scale(1.2);
        min-height: 20vh;
        margin-bottom: 20px;
    }
    .contentWrapper {
        display:flex;
        flex:1;
        min-height: 30vh;
    }
    .contentWrapper1 {
        display:flex;
        flex:1;
        min-height:30vh;
    }
    .titlework >h2 {
        font-size: 14px;
        color:rgb(99, 44, 44);
    }
    .titlework >h2>span {
        display: block;
        font-size: 10px;
        color:rgb(165, 64, 64);
    }
    .bullets >ul{
        font-size: 12px;
        text-align: center;
        list-style: none;
    }
  }
  

